.order-first {
  -webkit-box-ordinal-group: 14;
  -ms-flex-order: 13;
  order: 13;
}
.top {
  padding-top: 17px;
}

.box {
  padding: 0 20px;
}

.sub {
  background-color: #ffce00;
  margin-bottom: 92px;
}

.promo {
  background-color: #c7d1d8;
  margin-top: 60px;
  margin-bottom: 60px;
}

.main {
  background: #6f6f6f;
  color: #fff;
  padding: 20px 40px 22px 122px;
}

.mb {
  padding-bottom: 25px;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 412px;
}

.homeIcon {
  font-size: 42px;
  display: block;
  background: black;
  color: #ffce00;
  padding: 22px;
  border-radius: 50%;
  width: 91px;
  margin: auto;
}

.pd {
  padding: 23px;
  width: 100%;
  background: #ffce00;
  border-radius: 20px 0px 20px 20px;
}

.innerIcon {
  width: 121px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 599px) {
  .order-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .altx {
    text-align: center;
  }

  .phone {
    width: 160px;
    margin-left: 0px !important;
  }
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.mat-button {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.related {
  background: rgb(235, 235, 235);
}

// .bod {
//   background-color: #ffce00 !important;
// }

hr {
  width: 172px;
  border: 2px solid #ffce00;
}

.normal {
  background: #ffce00;
  color: black;
}

.fongo {
  color: #ffce00;
}

h3 {
  font-size: 22px;
  text-align: left;
  height: 82px;
  font-weight: 400;
}

.right {
  float: right;
  color: #000;
}

.but {
  padding: 13px;
}

.text {
  text-align: center;
  font-size: 14px;
}

.pad {
  padding: 15px;
}

.phone {
  width: 160px;
  margin-left: 72px;
}

.carousel-item {
  max-height: 100%;
}
.cert {
  font-size: 39px;
  width: 332px;
  font-weight: 400;
  margin-top: 72px;
}

.info {
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
}

.col-sm-3 {
  padding: 12px;
}

.asa {
  height: 30px;
}

.footer {
  background: black;
}
