<app-navbar></app-navbar>
<section class="mb">
  <div class="container-fluid">
    <div class="row top mb">
        <div class="col-sm-3">
            <mat-list>
                <mat-list-item>Deal of the Day</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Deals under $10</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Samsung</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>OnePlus</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Mi</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Apple</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Motorola</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Huawei</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Nokia</mat-list-item>
              </mat-list>
          </div>
          <div class="col-sm-9">
            <div class="row">
              <div class="col-sm-3">
                <app-phones></app-phones>
              </div>
              <div class="col-sm-3">
                <app-phones></app-phones>
              </div>
              <div class="col-sm-3">
                <app-phones></app-phones>
              </div>
              <div class="col-sm-3">
                <app-phones></app-phones>
              </div>
              <div class="col-sm-3">
                  <app-phones></app-phones>
              </div>
              <div class="col-sm-3">
                  <app-phones></app-phones>
              </div>
                        <div class="col-sm-3">
                            <app-phones></app-phones>
                          </div>
                          <div class="col-sm-3">
                              <app-phones></app-phones>
                            </div>
                            <div class="col-sm-3">
                                <app-phones></app-phones>
                              </div>
                              <div class="col-sm-3">
                                  <app-phones></app-phones>
                                </div>
                                <div class="col-sm-3">
                                    <app-phones></app-phones>
                                  </div>
                                  <div class="col-sm-3">
                                      <app-phones></app-phones>
                                    </div>
                                    <div class="col-sm-3">
                                        <app-phones></app-phones>
                                      </div>
                                      <div class="col-sm-3">
                                          <app-phones></app-phones>
                                        </div>
                                        <div class="col-sm-3">
                                            <app-phones></app-phones>
                                          </div>
                                          <div class="col-sm-3">
                                              <app-phones></app-phones>
                                            </div>
                                            <div class="col-sm-3">
                                                <app-phones></app-phones>
                                              </div>
                                              <div class="col-sm-3">
                                                  <app-phones></app-phones>
                                                </div>
                                                <div class="col-sm-3">
                                                    <app-phones></app-phones>
                                                  </div>
                                                  <div class="col-sm-3">
                                                      <app-phones></app-phones>
                                                    </div>
            </div>
          </div>
    </div>
  </div>
</section>
<section class="related top mb">
  <div class="container">
    <app-related></app-related>
  </div>
</section>
<!-- <section>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="cert">
            Certified Like New Devices on
            <span style="color: #0c71b6;">FONGO</span>
          </h2>
          <p class="info">
            Download the Fongo App for Free to Sell Your Gadgets Faster!
          </p>
          <div>
            <button mat-button>
              <img src="../../../assets/Intersection 8.png" alt="" />
            </button>
            <button mat-button>
              <img src="../../../assets/Intersection 8s.png" alt="" />
            </button>
          </div>
        </div>
        <div class="col-sm-6 order-first altx">
          <img src="../../../assets/IPhone 4.png" class="phone" alt="" />
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="promo">
  <app-promo></app-promo>
</section>
<section class="sub">
  <app-subcribe></app-subcribe>
</section>
<div>
  <!-- <div class="container">
    <h3>
      <p class="info asa">As seen on</p>
    </h3>
    <div class="row">
      <div class="col-4 col-sm-2 mb">
        <img src="../../../assets/cnn-logo.png" class="asa" alt="" />
      </div>
      <div class="col-4 col-sm-2 mb">
        <img src="../../../assets/CNBC_(Print).png" class="asa" alt="" />
      </div>
      <div class="col-4 col-sm-2 mb">
        <img src="../../../assets/forbes-2.png" class="asa" alt="" />
      </div>
      <div class="col-4 col-sm-2 mb">
        <img src="../../../assets/cnn-logo.png" class="asa" alt="" />
      </div>
      <div class="col-4 col-sm-2 mb">
        <img src="../../../assets/CNBC_(Print).png" class="asa" alt="" />
      </div>
      <div class="col-4 col-sm-2">
        <img src="../../../assets/forbes-2.png" class="asa" alt="" />
      </div>
    </div>
  </div> -->
</div>
<app-footer></app-footer>
