<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-tab label="Top Seller">
    <div class="row" style="margin-top: 22px;">
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Featured">
    <div class="row" style="margin-top: 22px;">
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Smart Phones">
    <div class="row" style="margin-top: 22px;">
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Top Seller">
    <div class="row" style="margin-top: 22px;">
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Featured">
    <div class="row" style="margin-top: 22px;">
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
      <div class="col-sm-3">
        <mat-card>
          <app-phones></app-phones>
        </mat-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
