<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3 class="title">
          About Us
        </h3>
        <img src="../../../assets/logo footer.png" class="logo" alt="" />
        <div class="link">
          <p class="obj">Name : Fongo Plc.</p>
          <p class="obj">
            Address : 23b, Ayinde Akinmade Street, Lekki Phase 1
          </p>
          <p class="obj">Email : info@fongo.ng</p>
        </div>
      </div>
      <div class="col-sm-3">
        <h3 class="title">
          Company
        </h3>
        <div class="link">
          <p class="obj">
            <a href="#" class="obj">Sell Old Mobile</a>
          </p>
          <p class="obj"><a href="#" class="obj">About Us</a></p>
          <p class="obj"><a href="#" class="obj">Blog</a></p>
          <p class="obj"><a href="#" class="obj">Cashify News</a></p>
          <p class="obj"><a href="#" class="obj">Testimonials </a></p>
          <p class="obj"><a href="#" class="obj">Testimonials </a></p>
          <p class="obj"><a href="#" class="obj">Contact Us</a></p>
        </div>
      </div>
      <div class="col-sm-2">
        <h3 class="title">
          Help
        </h3>
        <div class="link">
          <p class="obj">
            <a href="#" class="obj">Careers </a>
          </p>
          <p class="obj"><a href="#" class="obj">FAQ</a></p>
          <p class="obj"><a href="#" class="obj">Terms and Conditions</a></p>
          <p class="obj"><a href="#" class="obj">Privacy Policy</a></p>
          <p class="obj"><a href="#" class="obj">Terms of Use </a></p>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</section>
