.title {
  text-align: left;
  padding-top: 45px;
  color: #f3c80c;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer {
  background: #2d2d2d;
}

.obj {
  margin-bottom: 0;
  font-size: 13px;
  color: #fff;
}

.logo {
  width: 122px;
  margin-bottom: 9px;
}

.link {
  margin-bottom: 43px;
}
