.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.logo {
  width: 80%;
}

.icon {
  margin-right: 7px;
}

mat-toolbar {
  background: #fff;
}

.fongo {
  color: #ffce00;
}

mat-toolbar-row {
  padding: 0 75px;
}

.input-group {
  border: 2px solid #ffce00;
  border-radius: 65px;
}
.input-group-text {
  background: #ffce00;
  color: #fff;
  border: none;
  border-radius: 72px;
}

.contain {
  padding: 0 95px !important;
}

.mat-badge-content {
  color: rgba(0, 0, 0, 0.87) !important;
  background: #ffe100 !important;
}

.button {
  background: #ffe100;
  border-radius: 62px;
  color: #ffff;
}

.catbutton {
  background: #ffe100;
  border-radius: 12px 12px 0 0;
  padding-right: 92px;
  margin-left: 112px;
}

b.nav-item {
  font-size: 13px;
  margin: 0 15px;
}

b {
  font-size: 13px;
  margin: 0 15px;
}

.form-control {
  font-size: 12px;
  border: none;
  border-radius: 92px;
}

.mode {
  width: 100%;
}

@media (max-width: 599px) {
  .hidden {
    display: none;
  }

  mat-toolbar-row {
    padding: 0 19px;
  }

  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    background: transparent;
  }
}

@media (min-width: 768px) {
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    background: transparent;
  }
}

.mat-button {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
