<mat-toolbar
  style="background: transparent; height: 48px; border-bottom: 1px solid #cccccc; margin-bottom: 22px;"
  class="hidden contain"
>
  <button mat-button>
    <mat-icon aria-label="Menu" class="icon fongo">phone</mat-icon>
    (0) -2347895788
  </button>
  <button mat-button>
    <mat-icon aria-label="Menu" class="icon fongo">email</mat-icon>
    hell@fongo.com
  </button>
  <span class="example-spacer"></span>
  <button mat-button>
    <mat-icon aria-label="Menu" class="icon"> local_shipping </mat-icon>
    Track Your Order
  </button>
  <button mat-button>
    Naira (NGN)
  </button>
  <button mat-button>
    Register or Sign in
  </button>
</mat-toolbar>
<mat-toolbar>
  <mat-toolbar-row class="navbar navbar-expand-lg navbar-light ">
    <span class="navbar-brand">
      <img src="../../../assets/logo.png" alt="" class="logo" />
    </span>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      mat-icon-button
    >
      <mat-icon aria-label="Menu">menu</mat-icon>
    </button>
    <div class="collapse navbar-collapse mode" id="navbarNav">
      <div class="input-group hidden">
        <input
          type="text"
          class="form-control"
          placeholder="type you search here ....."
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
        <div class="input-group-append">
          <button class="input-group-text" id="basic-addon2" mat-flat-button>
            <i class="material-icons">search</i>
          </button>
        </div>
      </div>

      <div class="navbar-nav">
        <b class="nav-item"></b>
        <b class="nav-item"></b>
        <button mat-icon-button class="nav-item">
          <mat-icon aria-label="Menu">favorite_border</mat-icon>
        </button>

        <button mat-icon-button class="nav-item">
          <mat-icon
            matBadge="22"
            matBadgePosition="below after"
            aria-label="Menu"
            >shopping_cart</mat-icon
          >
        </button>
        <b class="nav-item"></b>
        <button mat-flat-button class="button nav-item">
          <mat-icon aria-label="Menu">photo_camera</mat-icon>
          <b>Sell Product</b>
        </button>

        <b class="nav-item"></b>

        <button mat-flat-button class="button nav-item">
          <mat-icon aria-label="Menu">settings</mat-icon>
          <b>Repair Phone.</b>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar
  style="background: transparent; height: 37px; padding: 0 52px; margin-top: 22px; border-bottom: 1px solid #cccccc;"
  class="hidden"
>
  <button mat-flat-button class="catbutton nav-item">
    <mat-icon aria-label="Menu">menu</mat-icon>
    <b>Category</b>
  </button>
  <span class="example-spacer"></span>
  <button mat-button>
    Editor’s Pick
  </button>
  <button mat-button>
    Top Earners
  </button>
  <button mat-button>
    Popular Items
  </button>
  <button mat-button>
    Popular Items
  </button>
  <button mat-button>
    Week’s Offer
  </button>
  <button mat-button>
    Blog
  </button>
  <span class="example-spacer"></span>
  <button mat-button>
    Free Shipping on NGN500 Deals
  </button>
</mat-toolbar>
