<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img class="img-fluid" src="../../../assets/Rectangle 114.png" alt="" />
    </div>
    <div class="col-sm-8">
      <h2 class="title">
        Want to Buy, Sell and Repair Phones?
      </h2>
      <p class="action">
        You found the right place.
      </p>
      <div class="but">
        <button mat-flat-button class="button nav-item" color="primary">
          <b>Start Selling</b>
        </button>
      </div>
    </div>
  </div>
</div>
