
<div class="main">
  <div class="container">
    <nav class="navbar">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/logo.png" alt="FONGO">
        </a>
    </nav>
    <section>
      <div class="row">
        <div class="col-sm-6">
            <h2 class="title">
              Be the First to Know When <span style="color : #0071bc">FONGO</span> Launches 
            </h2>
            <p class="subtitle">
              Join the list and we’ll let you know how to get started.
            </p>
            <form class="action">
              <input type="text"  class="form-control" placeholder="Your email here...">
              <button mat-raised-button type="submit" class="button" >Notify Me</button>
            </form>
              <div class="timer" id="demo">
                  <button class="time" mat-fab>
                    <p class="num">
                      <span id="day"></span>
                    </p>
                    <p class="ass">days</p>
                  </button>
                  <button class="time" mat-fab>
                      <p class="num">
                        <span id="hour"></span>
                      </p>
                      <p class="ass">hours</p>
                  </button>
                  <button class="time" mat-fab>
                      <p class="num">
                        <span id="minutes"></span>
                      </p>
                      <p class="ass">minutes</p>
                  </button>
                  <button class="time" mat-fab>
                      <p class="num">
                        <span id="second"></span>
                      </p>
                      <p class="ass">seconds</p>
                  </button>
              </div>
            </div>
        <div class="col-sm-6">
          <div class="phones"></div>
        </div>
      </div>
    </section>
  </div>
</div>