.form {
  padding: 6px 26px;
  margin-right: 22px;
  width: 40%;
  border-radius: 69px;
  border: 2px solid #ffffff;
  background: #dab518;
}

.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #0191ca;
  width: 15% !important;
  height: 42px !important;
  border-radius: 32px !important;
}

.title {
  text-align: center;
}

.col-sm-9 {
  padding: 42px;
}
