<app-navbar></app-navbar>
<section class="mb">
  <div class="container-fluid">
    <div class="row top mb">
      <div class="col-md-12 order-first ">
        <div
          id="carouselExampleIndicators"
          class="carousel slide mb carousel-fade"
          data-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="../../../assets/Group 7.png"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h5
                  style="text-align:right; font-size: 56px; font-weight:bolder;"
                >
                  First slide label
                </h5>
                <p>
                  Nulla vitae elit libero, a pharetra augue mollis interdum.
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="../../../assets/Group 7.png"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h5
                  style="text-align:right; font-size: 56px; font-weight:bolder;"
                >
                  Second slide label
                </h5>
                <p>a pharetra augue mollis interdum.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="../../../assets/Group 7.png"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h5
                  style="text-align:right; font-size: 56px; font-weight:bolder;"
                >
                  Third slide label
                </h5>
                <p>mollis interdum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-4 box">
            <div class="main">
              <h3>GET THE BEST DEALS ON <strong>SMART PHONES</strong></h3>
              <button mat-button class="right">
                Shop
                <mat-icon aria-label="Menu" class="icon fongo">
                  keyboard_arrow_right
                </mat-icon>
              </button>
              <div class="but"></div>
            </div>
          </div>
          <div class="col-md-4 box">
            <div class="main">
              <h3>START <strong>SELLING</strong> NOW.</h3>
              <button mat-button class="right">
                Explore
                <mat-icon aria-label="Menu" class="icon fongo">
                  keyboard_arrow_right
                </mat-icon>
              </button>
              <div class="but"></div>
            </div>
          </div>
          <div class="col-md-4 box">
            <div class="main">
              <h3><strong>REPAIR</strong> YOUR MOBILE PHONE IN TEN MINUTES</h3>
              <button mat-button class="right">
                Start Now
                <mat-icon aria-label="Menu" class="icon fongo">
                  keyboard_arrow_right
                </mat-icon>
              </button>
              <div class="but"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mb">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div style="margin-top: 74px">
          <app-phones></app-phones>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="row">
          <div class="col-sm-12">
            <mat-tab-group mat-stretch-tabs class="bod">
              <mat-tab label="New Deals">
                <div class="row">
                  <div class="col-sm-4 pad">
                    <app-phones></app-phones>
                  </div>
                  <div class="col-sm-4 pad">
                    <app-phones></app-phones>
                  </div>
                  <div class="col-sm-4 pad">
                    <app-phones></app-phones>
                  </div>
                  <div class="col-sm-4 pad">
                    <app-phones></app-phones>
                  </div>
                  <div class="col-sm-4 pad">
                    <app-phones></app-phones>
                  </div>
                  <div class="col-sm-4 pad">
                    <app-phones></app-phones>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Top Sellers">
                <div class="row">
                  <div class="col-sm-4 pad">
                    <app-phones></app-phones>
                  </div>
                  <div class="col-sm-4 pad">
                    <app-phones></app-phones>
                  </div>
                  <div class="col-sm-4 pad">
                    <app-phones></app-phones>
                  </div>
                  <div class="col-sm-4 pad">
                    <app-phones></app-phones>
                  </div>
                  <div class="col-sm-4 pad">
                    <app-phones></app-phones>
                  </div>
                  <div class="col-sm-4 pad">
                    <app-phones></app-phones>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Sellers of the Month">
                <div class="row">
                  <div class="col-sm-4 pad">
                    <app-phones></app-phones>
                  </div>
                  <div class="col-sm-4 pad">
                    <app-phones></app-phones>
                  </div>
                  <div class="col-sm-4 pad">
                    <app-phones></app-phones>
                  </div>
                  <div class="col-sm-4 pad">
                    <app-phones></app-phones>
                  </div>
                  <div class="col-sm-4 pad">
                    <app-phones></app-phones>
                  </div>
                  <div class="col-sm-4 pad">
                    <app-phones></app-phones>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="related top mb">
  <div class="container">
    <app-related></app-related>
  </div>
</section>
<!-- <section>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="cert">
            Certified Like New Devices on
            <span style="color: #0c71b6;">FONGO</span>
          </h2>
          <p class="info">
            Download the Fongo App for Free to Sell Your Gadgets Faster!
          </p>
          <div>
            <button mat-button>
              <img src="../../../assets/Intersection 8.png" alt="" />
            </button>
            <button mat-button>
              <img src="../../../assets/Intersection 8s.png" alt="" />
            </button>
          </div>
        </div>
        <div class="col-sm-6 order-first altx">
          <img src="../../../assets/IPhone 4.png" class="phone" alt="" />
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="promo">
  <app-promo></app-promo>
</section>
<section class="sub">
  <app-subcribe></app-subcribe>
</section>
<div>
  <!-- <div class="container">
    <h3>
      <p class="info asa">As seen on</p>
    </h3>
    <div class="row">
      <div class="col-4 col-sm-2 mb">
        <img src="../../../assets/cnn-logo.png" class="asa" alt="" />
      </div>
      <div class="col-4 col-sm-2 mb">
        <img src="../../../assets/CNBC_(Print).png" class="asa" alt="" />
      </div>
      <div class="col-4 col-sm-2 mb">
        <img src="../../../assets/forbes-2.png" class="asa" alt="" />
      </div>
      <div class="col-4 col-sm-2 mb">
        <img src="../../../assets/cnn-logo.png" class="asa" alt="" />
      </div>
      <div class="col-4 col-sm-2 mb">
        <img src="../../../assets/CNBC_(Print).png" class="asa" alt="" />
      </div>
      <div class="col-4 col-sm-2">
        <img src="../../../assets/forbes-2.png" class="asa" alt="" />
      </div>
    </div>
  </div> -->
</div>
<app-footer></app-footer>
