/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:600,700,800|Roboto:400,900&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
@import "~ngx-bar-rating/themes/br-fontawesome-theme";
@import "~ngx-bar-rating/themes/br-bootstrap-theme";
@import "~ngx-bar-rating/themes/br-default-theme";

.br-default .br-unit {
  margin-right: 1px !important;
  font-size: 23px;
  height: 18px;
  width: 18px;
}

.mat-tab-body-content {
  height: 100%;
  overflow: hidden !important;
}

.mat-elevation-z4 {
  box-shadow: none;
}
